<div class="header" ng-controller="controllerHeader">
    <h1>Simple Social Network</h1>
    <div>
        <span id="spanCurrentProfile" class="currentProfile" ng-if="spanCurrentUserVisible();" ng-bind="getCurrentUser();"></span>
        <button class="btn btn-light" ng-if="btnRegisterVisible()" ng-click="btnRegisterClick();">Register</button>
        <button class="btn btn-light" ng-if="btnLogoutVisible();" ng-click="btnLogoutClick();">Log out</button>
        <button class="btn btn-light" ng-if="btnLoginVisible();" ng-click="btnLoginClick();">Log in</button>
    </div>
</div>